/*background url : https://cdn.glitch.global/0d711981-cd27-4d87-9692-6f0453b5570a/1340375%20(1).jpg?v=1703273089315*/

html{
  height:100%;
  width:100%;
}

body{

  color:rgb(255, 255, 255);
  font-family: "Sofia Sans", sans-serif;

  background-image: url("https://cdn.glitch.global/0d711981-cd27-4d87-9692-6f0453b5570a/1340375%20(1).jpg?v=1703273089315*/");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}


.divform{
  background-color: rgba(255, 255, 255, 0.484);
  padding:100px;
  border-radius: 5%;
}

.inputtext{
  padding:10px;
}

.titre{
  font-size: 30px;
}